<main>
  <h1><%= @article.title %></h1>

  <h3>Commentaires</h3>


    <ul>
    
      <% @comments.each do |comment| %>
      <li>
        <h4><%= comment.user %></h4>
        <p><% comment.content %></p>
      </li>
      <% end %>

    </ul>

</main>